<h2>Administration: Home</h2>

<p>
	This is the administration section of the website, you must be an administrator to access this section.
</p>

<ul>
	<li><%= link_to 'Manage Problem Instances', admin_instances_path %></li>
	<li><%= link_to 'Manage Problem Uploads', admin_upload_path %></li>
</ul>